package {{packageName}}

import net.neoforged.fml.common.Mod
import net.neoforged.bus.api.IEventBus
import org.slf4j.Logger
import com.mojang.logging.LogUtils

@Mod("{{modId}}")
class {{mainClassName}}(modEventBus: IEventBus) {
    companion object {
        const val MOD_ID = "{{modId}}"
        val LOGGER: Logger = LogUtils.getLogger()
    }

    init {
        LOGGER.info("{{modName}} initialized!")
    }
}
